<div class="menu-bar">
    <button name="new-entry" class="new-entry-btn">New</button>
    <button name="delete-entry" class="delete-entry-btn">Delete</button>
    <button name="save-entry" class="save-entry-btn">Save</button>
    <input type="text" name="search" class="search" placeholder="Search" />
</div>